.reveal section img {
	background: none;
	border: 0;
	box-shadow: none;
}

.reveal blockquote {
	background: #f9f9f9;
	font-style: normal;
	margin: 1.5em auto;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018";
}
.reveal blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
.reveal blockquote p {
	display: inline;
}
.reveal blockquote em {
	color: #006600;
}

.reveal .reveal-list {
	height: 400px;
	overflow: auto;
	border-bottom: 2px solid #CACACA;
	list-style: disc inside none;
	padding: 0 20px;
}

.color-blast {
	background-image: url('/images/stairs-to-heaven.jpg');
	background-size: cover;
}

.color-blast h2 {
	font-size: 3em;
	margin: 35% 0;
}

.reveal .upper {
	font-size: 148%;
	text-transform: uppercase;
}
.reveal .justified {
	text-align: justify;
	word-wrap: break-word;
}